<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-content class="background">


  <div id="container">
    <ion-card style="padding: 20px;">
      <ion-card-content>
        <ion-input label="user" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-input label="password" type="password"label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-button [routerLink]="['/read']"> login </ion-button>
  </ion-card-content>
  </ion-card>
  </div>
</ion-content>
